name: tailscale-vps

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  tailscale-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Tailscale
        run: |
          # Install Tailscale using the official script
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Authenticate with Tailscale
        env:
          TAILSCALE_AUTH_KEY: ${{ secrets.TAILSCALE_AUTH_KEY }}
        run: |
          sudo tailscale up --authkey $TAILSCALE_AUTH_KEY --advertise-routes=0.0.0.0/0

      - name: Get Tailscale IP
        id: ip
        run: |
          IP=$(sudo tailscale ip)
          echo "IP=$IP" >> $GITHUB_OUTPUT

      - name: Display Tailscale Status and IP
        run: |
          echo "Tailscale IP: ${{ steps.ip.outputs.IP }}"
          sudo tailscale status --json | jq .
